<div class="container">
  <h2>Users Listing</h2>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>      
       <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>    <tr>
        <td>1</td>
        <td>James</td>
        <td>Carter</td>
        <td>james@ycsp.com</td>
        <td>superadmin</td>
        <td>Active</td>
      </tr>   
    </tbody>
  </table>
</div>
